<!-- Toolbar -->
<mat-toolbar>
    <span><img class="imgLogo" src="./assets/img/bikerLogo.png"></span>
    <span class="fill-remaining-space"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="toggleMenu">
        <mat-icon>menu</mat-icon>
      </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <a href="mailto:pbecchetti@gmail.com"><mat-icon>email</mat-icon>Email me</a>
        </button>
    </mat-menu>
</mat-toolbar>

<!-- Content -->
<div class="content" role="main">
    <app-bike></app-bike>
</div>

<!-- Footer -->
<div class="footer">
    &#169; Pauline Becchetti - 2019
</div>

<router-outlet></router-outlet>